[submodule "repos/LookingGlass"]
	path = repos/LookingGlass
	url = https://github.com/gnif/LookingGlass.git
[submodule "repos/netfr"]
	path = repos/netfr
	url = https://github.com/telescope-proj/netfr
